* {
    margin: 0;
    padding: 0;

}
.max{

    background-color: #dee1e1;
    height: 2400px;




}


.top {
    overflow:hidden;
    width: 100%;
    background-color: #8d8e90;
    display: flex;
    position: fixed;
    z-index: 999;
}

.top_left {
    height: 80px;
    display: flex;
    width: 45%;
    margin: 0 0 0 10%;
    background-color: #8d8e90;

}

.top_left_left {
    line-height: 80px;
    font-size: 18px;
    width: 20%;
}

.top_left_right {
    width: 80%;
    font-family: 华文行楷;


}

.top_left_right ul {
    text-align: center;
    line-height: 80px;
    list-style: none;
    display: flex;


}

.top_left_right li {
    font-size: 1.3em;
    width: 30%;
}

.top_left_right a {
    color: black;
    text-decoration: none;
}

.top_left_right img {
    width: 1em;
    height: 1em;
}

#nav {
    background-color: #b4b4b4;
    position: fixed;
    top: 80px;
    left: 25%;
    border: 1px solid black;
    display: none;
    z-index: 999;
    font-family: 华文行楷;

}

#nav a {


    text-decoration: none;
    word-wrap: break-word;
    overflow: hidden;
}

#nav div {

    border-bottom: 2px #ebecee solid;
    text-align: center;
    width: 120px;
    margin-top: 10px;
}
#nav div a{
    color: black;
    border-radius: 20px;

}
#nav div:hover {
    background-color:  #d3d3d3;


}

#nav a:hover {
    color: white;
}


.top_right {
    width: 30%;
    height: 80px;
    background-color: #8d8e90;

}

.top_right_son {
    background-color: #8d8e90;
    width: 25%;
    border-radius: 55px;
    float: right;
    margin: 23px 23px;
    width: 35px;
    height: 35px;
}

.top_right_son img {
    margin: 5px 3px 10px 5px;
    width: 25px;
    height: 25px;

}

.top_right :hover {
    background-color: #d3d3d3;
}
.clear {
    clear: both;
}

.imge{
    width: 100%;
    height: 600px;

}

.kong {
    height: 20px;

}

.tex{
    margin-top: 50px;
    height: 320px;

}

.tex_box{
    font-family: 微软雅黑;
    height: 600px;
    width: 40%;
    margin:0 auto;
}
.form{
    width:80%;
    height: 400px;
    margin: 0 auto;

}
.form h3{
    color: #1abca2;

}
.form_box{
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    width: 70%;

}
.form_style{
    background-color: #d3d3d3;
    border-radius: 10px;
    box-shadow:1px 2px 4px 5px ;
    font-size: 15px;
}
.input_style{
    margin-top: 30px;
    width: 30%;
    height: 25px;
    background-color: #dee1e1;
    border-radius: 5px;
}
.btn input{
    margin-top: 30px;
    margin-left: 0px;
    height: 50px;
    width: 60%;
    border-radius: 10px;
    background-color: #1abca2;


}

.pinglun_h2{
    height: 50px;
    width: 50%;
    margin-top: 100px ;
    margin: 0 auto;




}







.pinglun_son{
    width: 40%;
    margin: 50px auto;
    background:url("评论.png");
    height:750px;
    border-radius: 10px;}






.d2 {

    background-color: #b4b4b4;
    position: absolute;
    height: 10%;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.d2 a{
    color: #18aa8d;
}